<h1 class="page-header">All Secrets</h1>

{{#each secrets as |secret|}}
  {{#if (isIn secret._id ../requestedSecrets)}}
<div class="secret requested">
<button type="submit" class="btn btn-success">Requested!</button>
<p>-- <cite>By {{secret.ownerId.username}} on {{formatDate secret.createdAt}}</cite></p>
  </div>
{{else if (isIn ../currentUser._id secret.hasAccess)}}
<div class="secret access">
  <p><strong>{{secret.body}}</strong></p>
  <p>-- <cite>By {{secret.ownerId.username}} on {{formatDate secret.createdAt}}</cite></p>
  </div>
{{else}}
<div class="secret no-access">
<form action="/request" method="POST">
  <input type="hidden" value="{{secret._id}}" name="secretId">
  <button type="submit" class="btn btn-danger">Request Permission</button>
</form>
  <p>-- <cite>By {{secret.ownerId.username}} on {{formatDate secret.createdAt}}</cite></p>
</div>
  {{/if}}
{{/each}}