<h1>Hello {{currentUser.email}}</h1>

<form action="/secret" method="POST">
  <div class="form-group">
    <label for="secret">Secret</label>
    <input type="text" class="form-control" name="secret" id="secret" placeholder="secret">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


{{#if secrets.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Secrets</th>
        <th>Shared with</th>
      </tr>
    </thead>
    <tbody>
      {{#each secrets as |secret| }}
        <tr>
          <td>
          {{ secret.body }}
          </td>
          <td>
          {{#each secret.viewers as |viewer|}}
            {{viewer.email}}&nbsp;
          {{/each}}
          </td>
        </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No Secrets</p>
{{/if }}


<h1>Requests for access</h1>
{{#if requests.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Secret</th>
        <th>Requested by</th>
        <th>-</th>
      </tr>
    </thead>
    <tbody>
      {{#each requests as |request| }}
        {{#each request.requests as |userRequest|}}
          <tr>
            <td>{{request.body}}</td>
            <td>{{userRequest.email}}</td>
            <td>
              <form action="/approve" method="POST">
                <input type="hidden" name="userId" value="{{userRequest._id}}">
                <input type="hidden" name="secretId" value="{{request._id}}">
                <button class="btn btn-primary">approve</button>
              </form>
              <form action="/deny" method="POST">
                <input type="hidden" name="userId" value="{{userRequest._id}}">
                <input type="hidden" name="secretId" value="{{request._id}}">
                <button class="btn btn-danger">deny</button>
              </form>
          </td>
          </tr>
        {{/each}}
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No requests</p>
{{/if }}
