<div class="container">
  <h2 class="text-center">All Secrets</h2>
  <section class="well col-sm-12">
    {{#each secrets as |secret|}}
      <blockquote class="blockquote">
        {{#if (hasAccess ../currentUser secret)}}
          <p class="mb-0">{{secret.body}}</p>
        {{else if (requested ../currentUser secret)}}
          <p class="mb-0 text-success">Requested - Awaiting Review</p>
        {{else}}
          <div class="no-access">
            <p class="mb-0 text-danger inline">No Access -</p>
            <a href="" class="btn btn-danger request-access">Request?</a>
            <form action="/requests" method="POST">
              <input type="hidden" name="secretId" value="{{secret._id}}">
            </form>
          </div>
        {{/if}}
        <footer class="blockquote-footer"><cite title="Source Title">{{displayFullName secret.user}}</cite> on {{secret.createdAt}}</footer>
      </blockquote>
    {{/each}}
  </section>
</div>
<script type="text/javascript">
  $('.request-access').click(e => {
    e.preventDefault();
    $(e.currentTarget).next('form').submit();
  });
</script>
