<h1 style="text-align: center;">Welcome {{currentUser.username}}</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Your Secrets:</h3>
  </div>

  <div>
    <form action="/secrets/new" method="post">
      <label for="body">New Secret:</label>
      <input type="text" name="body">

      <button>Submit!</button>
    </form>
  </div>
  <div class="panel-body">
    {{#each currentUser.secrets as |secret|}}

    {{#if secret.author}}
    <div style="height: 75px; border: 1px solid black;" class="col-xs-10 col-xs-offset-1">

    <h5>{{secret.secret.body}}</h5>
  </div>
    {{/if}}
    {{/each}}
  </div>
</div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Shared Secrets:</h3>
    </div>
    <div class="panel-body">
      {{#each currentUser.secrets as |secret|}}
      {{#if secret.author}}
      {{else}}
          <div style="height: 75px; border: 1px solid black;" class="col-xs-10 col-xs-offset-1">

          <h5>{{secret.secret.body}}</h5>
          <p>By: {{secret.secret.author.username}}
          </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
