<table class='table'>
  <thead>
    <tr>
      <th>
        Secret
      </th>
      <th>
        Author
      </th>
      <th>
        Permission
      </th>
      <th>
        Request Permission
      </th>
    </tr>
  </thead>
{{#each authSecrets as |secret|}}
  <tr>
    <td>
      {{secret.text}}
    </td>
    <td>
      {{secret.author.email}}
    </td>
    <td>
      Authorized
    </td>
    <td>
      <input type='submit' value="Permission Granted"/>
    </td>
  </tr>
{{/each}}
{{#each unauthSecrets as |secret|}}
  <tr>
    <td>
      Unauthorized
    </td>
    <td>
      {{secret.author.email}}
    </td>
    <td>
      Unauthorized
    </td>
    <td>
      <form action='/secrets/request' method='post'>
        <input type='hidden' name='secretId' value="{{secret._id}}" />
        <input type='hidden' name='userId' value="{{../userId}}" />
        <input type='submit' value="Request Permission"/>
      </form>
    </td>
  </tr>
{{/each}}
</table>
