<section>
  <h2 class="col-xs-12">Secrets</h2>
  {{#each access as |secret|}}
  <article class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>{{ secret.body }}</p>
      </div>
      <div class="panel-footer">
        {{secret.author.username}}
      </div>
    </div>
  </article>
  {{/each}} {{#each requested as |secret|}}
  <article class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <button class="btn btn-warning">Requested</button>
      </div>
      <div class="panel-footer">
        {{secret.author.username}}
      </div>
    </div>
  </article>
  {{/each}} {{#each rest as |secret|}}
  <article class="col-sm-6 col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="{{secretPath secret.id}}" class="btn btn-success">Request Permission</a>
      </div>
      <div class="panel-footer">
        {{secret.author.username}}
      </div>
    </div>
  </article>
  {{/each}}
</section>
