<div class="container">
  <h1>All Secrets</h1>
  <div class="row">
    {{#if secrets.length }}
      {{#each secrets as |secret| }}
        <div class="panel panel-default">
          {{#if (userIsFollowingSecret secret.followers @root.currentUser._id secret.owner)}}
          <div class="panel-heading">Posted On {{ secret.createdAt }} by {{ secret.owner.email }}</div>
          <div class="panel-body">{{ secret.body }}</div>
          {{else }}
          <div class="panel-heading">Posted On ??? by {{ secret.owner.email }}</div>
          <div class="panel-body">
            <p class="blurry-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolore ut culpa, minus libero quibusdam dicta atque dolor ex, eaque rem tenetur obcaecati in, sed quam quis, voluptatum dolorem eligendi!</p>
            {{#if (checkIfAlreadyRequested @root.currentUser.requests secret.requests) }}
              <button class="btn btn-success">Requested</button>
            {{else }}
              <form action="{{ newRequestPath secret._id }}" method="post">
                <input type="hidden" value="{{ secret.owner._id }}" name="requestee">
                <button class="btn btn-primary">Request to Follow</button>
              </form>
            {{/if }}
          </div>
          {{/if}}
        </div>
      {{/each}}
    {{else }}
      <h3>No secrets yet! Start posting some today.</h3>
    {{/if }}
  </div>
</div>