<div class="container-fluid">
  <div class="row" style="text-align:center;">
    <h3>All Secrets</h3>
    {{#if posts}}
    {{#each posts as |post|}}
    <div class="col-sm-3" style="margin:1em; border:2px solid black; text-align:left;">
      {{#if post.post}}
      <p>{{post.post}}</p>
      {{else}}
      <a href="/secret/request/{{post.id}}/{{post.createdBy._id}}"><button class="btn btn-block btn-success"><p>Click to request</p><p>The user to view</p></button></a>
      {{/if}}
      <p>- {{post.createdBy.username}}</p>
    </div>
    {{/each}}
    {{/if}}
  </div>
</div>
