<div class="row">
  <div class="col-sm-12">
    <h2>All Secrets</h2>
    {{#each secrets as |secret|}}
    <blockquote>
      {{#if (userIsConfidant @root.currentUser.id secret.confidants)}}
      <p>{{secret.body}}</p>
      {{else}}
      {{#if (userHasRequested @root.currentUser.id secret.requests)}}
      <button class="btn btn-success">REQUESTED</button>
      {{else}}
      <form action="/requests/{{secret.id}}" method="post">
        <input type="hidden" name="requestee" value="{{secret.author.id}}">
        <button type="submit" class="btn btn-danger">Request Permission</button>
      </form>
      {{/if}}
      {{/if}}
      <footer>{{secret.author.username}} on {{secret.sharedAt}}</footer>
    </blockquote>
    {{/each}}
  </div>
</div>
