<section>
  <h2 class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-4">All Secrets</h2>
  {{#each secrets as |secret|}}
  <article class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body">
        {{#if secret.body}}
        <p>{{ secret.body }}</p>
        {{else}} {{#if secret.requested }}
        <button class="btn btn-warning">Requested</button> {{else}}
        <a href="{{secretPath secret.id}}" class="btn btn-success">Request Permission</a> {{/if}} {{/if}}
      </div>
      <div class="panel-footer">
        {{secret.author.username}}
      </div>
    </div>
  </article>
  {{/each}}
</section>
