<h1>All secrets</h1>

<h2>Secrets You Know</h2>
<table class="table">
  <thead>
    <tr>
      <th>Secret</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {{#each accessibleSecrets as |secret| }}
      <tr>
        <td>
        {{ secret.body }}
        </td>
        <td>
        {{ secret.author.email }}
        </td>
      </tr>
    {{/each }}
  </tbody>
</table>

<h2>Secrets You Don't</h2>
<table class="table">
  <thead>
    <tr>
      <th>Secret</th>
      <th>Author</th>
      <th>Request</th>
    </tr>
  </thead>
  <tbody>

    {{#each unavailableSecrets as |secret| }}
      {{#if secret.cipher}}
        <tr>
          <td>
          {{secret.body}}
          </td>
          <td>
          {{ secret.author.email }}
          </td>
          <td>
            Cipher:
            <form action="/guessCipher" method="post">
              <input type="text" name="cipher" id="cipher">
              <input type="hidden" name="secretBody" value="{{secret.body}}">
              <button class="btn btn-primary" id="cipherSubmit">Guess</button>
            </form>
          </td>
        </tr>
      {{else}}
        <tr>
          <td>
          SECRET
          </td>
          <td>
          {{ secret.author.email }}
          </td>
          <td>
            <form class="" action="/share" method="post">
              <input type="hidden" name="currentUserId" value="{{../currentUser._id}}">
              <input type="hidden" name="secretId" value="{{secret.id}}">
              <button class="btn btn-default" type="submit" name="button">request access</button>
            </form>
          </td>
        </tr>
      {{/if}}
    {{/each }}
  </tbody>
</table>
