{{!--{{ currentUser }}--}}

<div class="container">
  <h1>Secrets</h1>
  <div class="row">
    <h2>New Secret</h2>
    <form action="{{ secretsPath }}" method="post">
      <div class="form-group">
        <label for="new_secret">Secret</label>
        <textarea type="text" id="new_secret" name="secret" class="form-control" rows="5" placeholder="Tell me a secret..."></textarea>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
  <div class="row">
    <h2>Your Secrets</h2>
    {{#if secrets.length }}
      {{#each secrets as |secret| }}
        <div class="panel panel-default">
          <div class="panel-heading">Posted On {{secret.createdAt}}</div>
          <div class="panel-body">
            <p>{{ secret.body }}</p>
            {{#if secret.requests.length }}
              {{#each secret.requests as |request| }}
              <p>
                Request from {{ request.requester.email }}
                <a href="{{ acceptRequestPath request._id }}"><button class="btn btn-success">Accept</button></a>
                <a href="{{ rejectRequestPath request._id }}"><button class="btn btn-danger">Reject</button></a>
              </p>
              {{/each}}
            {{/if}}
          </div>
        </div>
        
      {{/each}}
    {{else }}
      <h3>No secrets yet! Start posting some today.</h3>
    {{/if }}
  </div>
  <div class="row">
    <h2>Shared Secrets</h2>
    {{#if sharedSecrets.length }}
      {{#each sharedSecrets as |secret| }}
      <div class="panel panel-default">
        <div class="panel-heading">Posted On {{secret.createdAt}} by {{ secret.owner.email }} </div>
        <div class="panel-body">{{ secret.body }}</div>
      </div>
      {{/each}}
    {{/if}}
  </div>
</div>