<h1>All secrets</h1>

<h2>Secrets You Know</h2>
<table class="table">
  <thead>
    <tr>
      <th>Secret</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {{#each accessibleSecrets as |secret| }}
      <tr>
        <td>
        {{ secret.body }}
        </td>
        <td>
        {{ secret.author.email }}
        </td>
      </tr>
    {{/each }}
  </tbody>
</table>

<h2>Secrets You Don't</h2>
<table class="table">
  <thead>
    <tr>
      <th>Secret</th>
      <th>Author</th>
      <th>Request</th>
    </tr>
  </thead>
  <tbody>
    {{#each unavailableSecrets as |secret| }}
      <tr>
        <td>
        SECRET
        </td>
        <td>
        {{ secret.author.email }}
        </td>
        <td>
          <form class="" action="/share" method="post">
            <input type="hidden" name="currentUserId" value="{{../currentUser._id}}">
            <input type="hidden" name="secretId" value="{{secret.id}}">
            <button type="submit" name="button"></button>
          </form>
        </td>
      </tr>
    {{/each }}
  </tbody>
</table>
