<div class="row">
  <div class="col-sm-12">
    <h2>New Secret</h2>
    <form action='/secrets' method='post'>
      <div class="form-group">
        <label for="secret">Secret</label>
        <textarea name="secret[body]" value="" placeholder="Tell me a secret..." class="form-control" rows="2"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Save Secret</button>
    </form>
    <hr>
    <h2>Your Secrets</h2>
    {{#each mySecrets as |secret|}}
    <blockquote>
      <p>{{secret.body}}</p>
      <footer>{{secret.author.username}} on {{secret.sharedAt}}</footer>
      {{#if secret.requests.length}}
      <h4>Requests</h4>
      <ul>
        {{#each secret.requests as |request|}}
        <li>
          {{request.requester.username}}
          <a href="/requests/{{request.id}}/accept" class="btn btn-success">Accept</a>
          <a href="/requests/{{request.id}}/reject" class="btn btn-danger">Reject</a>
        </li>
        {{/each}}
      </ul>
      {{/if}}
    </blockquote>
    {{/each}}
    <hr>
    <h2>Shared Secrets</h2>
    {{#each otherSecrets as |secret|}}
    <blockquote>
      <p>{{secret.body}}</p>
      <footer>{{secret.author.username}} on {{secret.sharedAt}}</footer>
    </blockquote>
    {{/each}}
  </div>
</div>
