<section class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-4">
  <h2>New Secret</h2>
  <div class="panel panel-default">
    <div class="panel-body">
      <form action="{{ newSecretPath }}" method="post">
        <div class="form-group">
          <input type="text" name="secret" value="" class="form-control">
        </div>
        <button class="btn btn-default">Create</button>
      </form>

    </div>
  </div>
</section>

<section class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-4">
  <h2>Your Secrets</h2>
  {{#each authored as |secret|}}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ secret.body }}
    </div>
    {{#if secret.requests}}
    <div class="panel-footer">
      <h4>Requests</h4>
      {{#each secret.requests as |request|}} {{log secret}}
      <strong>{{request.username}}</strong>
      <a href="{{allowSecretPath secret._id request._id}}" class='btn btn-success'>Grant</a> {{/each}}
    </div>
    {{/if}}
  </div>
  {{/each}}
</section>

<section class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-4">
  <h2>Shared Secrets</h2>

  {{#each currentUser.sharedSecrets as |secret|}}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ secret.body }}
    </div>
    <div class="panel-footer">
      {{secret.author.username}}
    </div>
  </div>
  {{/each}}
</section>
