<section class="col-sm-8 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">New Secret</div>
    <div class="panel-body">

      <form action="{{ newSecretPath }}" method="post">
        <div class="form-group">
          <input type="text" name="secret" value="" class="form-control">
        </div>
        <button class="btn btn-default">Create</button>
      </form>

    </div>
  </div>
</section>

<section class="col-sm-8 col-md-6">
  <h2>Your Secrets</h2>
  {{#each authored as |secret|}}
  <div class="panel panel-default">
    <div class="panel-body">
      {{ secret.body }}
    </div>
    {{#if secret.requests}}
    <div class="panel-footer">
      <h4>Requests</h4>
      {{#each secret.requests as |request|}} {{log secret}}
      <strong>{{request.username}}</strong>
      <a href="{{allowSecretPath secret._id request._id}}" class='btn btn-success'>Grant</a> {{/each}}
    </div>
    {{/if}}
  </div>
  {{/each}}
</section>

<section class="col-sm-8 col-md-6">
  <h2>Shared Secrets</h2>

  <ul class="list-unstyled">
    {{#each currentUser.sharedSecrets as |secret|}}
    <li>
      <p>{{ secret.body }}</p>
      <p><em>- {{secret.author.username}}</em></p>

    </li>
    {{/each}}
  </ul>
</section>
