<section class="col-sm-8 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">New Secret</div>
    <div class="panel-body">

      <form action="{{ newSecretPath }}" method="post">
        <div class="form-group">
          <input type="text" name="secret" value="" class="form-control">
        </div>
        <button class="btn btn-default">Create</button>
      </form>

    </div>
  </div>
</section>

<section class="col-sm-8 col-md-6">
  <h2>Your Secrets</h2>

  <ul class="list-unstyled">
    {{#each authored as |secret|}}
    <li>
      <p>{{ secret.body }}</p>
      {{#if secret.requests}}
      <h4>Requests</h4>
      <ul>
        {{#each secret.requests as |request|}} {{log secret}}
        <li>{{request.username}}<a href="{{allowSecretPath secret._id request._id}}" class='btn btn-success'>Grant</a></li>

        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</section>

<section class="col-sm-8 col-md-6">
  <h2>Shared Secrets</h2>

  <ul class="list-unstyled">
    {{#each currentUser.sharedSecrets as |secret|}}
    <li>
      <p>{{ secret.body }}</p>
      <p><em>- {{secret.author.username}}</em></p>

    </li>
    {{/each}}
  </ul>
</section>
