<div class="container-fluid">
  <div class="row" style="text-align:center;">
    <div class="col-sm-6">
      <h3>New Secret</h3>
      <form action="/secret/newSecret" method="post">
        <textarea name="newSecret" cols="50" rows="10"></textarea><br>
        <button type="submit" class="btn btn-primary"><h4>Save</h4></button>
      </form>
      {{#if requests}}
      <h3>New Secret</h3>
      {{#each requests as |req|}}
      <h5>{{req.post.secret.post}}</h5>
      <small> - {{req.requesting.User.username}}</small>
      {{/each}}
      {{/if}}
    </div>
    <div class="col-sm-6">
      <h3>Your Secrets</h3>
      <div style="text-align:left; margin-left:3em;">
        {{#if selfSecrets}}
        {{#each selfSecrets as |self|}}
        <h5>{{self.post}}</h5>
        <small> - {{self.createdBy.username}}</small>
        {{/each}}
        {{else}}
        <h5>No Secrets</h5>
        <small> - As of yet</small>
        {{/if}}
      </div>
      <h3>Others Shared Secrets</h3>
      <div style="text-align:left; margin-left:3em;">
        {{#if otherSecrets}}
        {{#each otherSecrets as |other|}}
        <h5>{{other.post}}</h5>
        <small> - {{other.createdBy.username}}</small>
        {{/each}}
        {{else}}
        <h5>No Shared Secrets</h5>
        <small> - As of yet</small>
        {{/if}}
      </div>
      <br>
      <a href="/secret/all"><button class="btn btn-warning"><h3> ***All Secrets*** </h3></button></a>
    </div>
  </div>
</div>
